/* This is a compiled file, you should be editing the file in the templates directory */

.pace .pace-activity,
.pace .pace-progress {

  background-color: red;
  display: inline-block;

  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

  width: 70px;
  height: 70px;
  z-index: 2001;
}

.pace .pace-activity{
  background-color: white;
  z-index: 2000;
}

.pace .pace-activity:before,
.pace .pace-activity:after,
.pace .pace-progress:before,
.pace .pace-progress:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 70px;
  position: absolute;
  width: 70px;
}

.pace .pace-activity:before,
.pace .pace-activity:after {
  background-color: white;
}
.pace .pace-activity:before,
.pace .pace-progress:before {
  top: -35px;
  left: 0;
}

.pace .pace-activity:after,
.pace .pace-progress:after {
  left: 35px;
  top: 0;
}

.pace .pace-text:after {
  content: attr(data-progress-text);

  height: 30px;
  margin: auto;
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
  color: red;
  z-index: 2002;
}

.pace .pace-activity {

}

.pace.pace-inactive {
  display: none;
}
