@import url('https://fonts.googleapis.com/css?family=Allura');
@import url('https://fonts.googleapis.com/earlyaccess/nanumpenscript.css');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body, html {
  margin: 0;
  padding: 0;
  font: 15px "Nanum Gothic", sans-serif;
  color: #777;
  height: 100vh;
  min-height: 100vh;
}

.page-main, .page-info, .page-location {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-color: black;*/
  min-height: 100%;

}

.page-background {
  background-image: url("../img_3044.jpg");
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 1;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-color: black;*/
}

.page-loading {
  background-color:#061533;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  opacity: 1;
  min-height: 100%;
}

.main-background {
	width:100%;
	height:100vh;
	overflow:hidden;
	background-color:#061533;
}
.page-main {
}

.page-info {
  background-image: url("../img_2983.jpg");
}

.page-location {
  background-image: url("../img_2965.jpg");
}

.page-invitation {
  background-color: #e8e6d5;
}

.invitation {
  min-height: 600px;
  background-color: white;
}
.invitation-name {
  margin-top: 30px;
}

.invitation-box {
  padding-top: 30px;
  padding-bottom: 30px;

}

.table td {
  border-top: 0px;
}

.main-img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.main-text-sm {
  font-size: 20px;
}

.main-flower {
  height:200px;
}

.main-name {
  color: #a9a66d;
  margin-bottom: 150px;
  font-size: 40px;
  font-family: 'Nanum Pen Script', cursive;
}

.main-calendar {
  color: #a9a66d;
  margin-top: 50px;
  font-size: 70px;
  line-height: 60px;
  font-family: 'Nanum Pen Script', cursive;
}

#invitation-title{
  font-family: 'Allura', cursive;
  text-transform: none;
  letter-spacing: normal;
  font-size: 23px;
  color: #0264cd;
}

#invitation-text {
  font-size: 15px;
  line-height: 2.3em;
  margin-top: 30px;
}

.invitation-img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

#info-title {
  font-size: 20px;
  line-height: 2.3em;
  color:rgba(255, 255, 255, 0.85);
  font-weight: bold;
}
#info-text {
  font-size: 15px;
  line-height: 2.0em;
  margin-top: 20px;
}

#location-title {
  font-size: 20px;
  line-height: 2.3em;
  color:rgba(255, 255, 255, 1);
  font-weight: bold;
}
.location-text-box {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;

  background: rgba(0, 0, 0, 0.3);
}
#location-text {
  font-size: 13px;
  color:rgba(255, 255, 255, 0.8);

  padding: 30px;
}

@media(max-width: 768px) {
  #location-text {

    padding: 5px;
  }
}

#location-text span {
  color:#dcbb59;
  font-weight: bold;
}

#location-text div {
  margin-top: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Nanum Gothic", sans-serif;
  color: #111;
}

.half-width {
  width: 50%;
}

.full-height {
  min-height: 100%;
  height: 100%;
}

.info-box {
  border: 2px solid white;
  padding: 20px;
  margin: 30px;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.15);
}

.info-table {
  width: auto;
  font-size: 11pt;
  color:#fff;
  margin:auto;
}

.page-photo {
  min-height: 600px;
  background-color: #bbb;
  color: red;

}
.container {
  padding-right: 0px;
  padding-left: 0px;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.text-black {
  color: #000;
}

.photo-grid-item img {
	display: block;
	max-width:100%;
	max-height:100%;
	width:100%;
}

.photo-grid-item {
	padding: 5px;
}

.photo-grid-item-big {
	max-width: 100%;
	height: 98vh;
	max-height: 98vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.photo-grid-item-opacity {
	opacity: 0.15;
}
@media only screen and (max-device-width: 1024px) {
    .page-main, .page-info, .page-location {
        background-attachment: scroll;
    }
}
